/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { ... }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    /* header */
    .menu li a {
        margin: 5px 15px 8px 0;
    }
    .h_btn {
        padding: 2px 9px ;
    }
    /* banner */
    .bc_form {
        padding: 8px 9px;
    }
    .bc_form h2 {
        font-size: 28px;
    }
    .bc_form input , .cus_select {
        padding: 4px 8px;
        font-size: 15px;
    }
    .bc_form button {
        padding: 5px 0;
        font-size: 16px;
    }
    .banner_h2 {
        font-size: 30px;
    }
    .br_contact i {
        margin: 5px 0 0 12px;
        font-size: 38px;
    }
    .br_contact p {
        font-size: 14px;
    }
    .br_contact h1 {
        font-size: 25px;
    }
    /* about */
    .cmn_padding {
        padding-top: 40px;
    }
    .cmn_h2 {
        font-size: 31px;
    }
    .cmn_p {
        font-size: 16px;
    }
    .about_left {
        margin-top: 0;
        text-align: center;
    }
    .about_left button {
        margin: 15px 0 20px;
        padding: 5px 12px;
    }
    .about_img img {
        display: none;
    }
    /* survey */
    .survey_icon i {
        font-size: 16px;
        padding: 12px;
    }
    .wrapper h2 {
        margin: 10px 0 8px;
        font-size: 30px;
    }
    .wrapper h3 {
        font-size: 20px;
    }
    /* service */
    .single_s {
        margin: 40px auto 0;
        width: 66%;
    }
    .view_btn button {
        padding: 7px 17px;
        font-size: 16px;
    }
    /* ride */
    .rs_single {
        padding: 20px 0;
    }
    .rs_single h3 {
        font-size: 23px;
    }
    .cus_width {
        width: 90% !important;
    }
    /* feature */
    .single_f {
        width: 65%;
        min-height: 100px;
        margin: 30px auto 0;
        padding: 15px 20px 10px;
    }
    /* testimonial */
    .t_img {
        width: 85px;
    }
    .t_single h3 {
        font-size: 18px;
    }
    .t_single p {
        font-size: 15px;
    }
    .t_p span {
        font-size: 20px;
    }
    /* app */
    .app_btn {
        margin: 25px 15px 0 auto;
        padding: 2px 4px;
    }
    .app_btn i {
        margin: 8px 8px 0 0;
        font-size: 36px;
    }
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    /* about */
    .cmn_h2 {
        font-size: 38px;
    }
    .about_p {
        font-size: 20px;
    }
    .about_left button {
        margin-top: 26px;
        padding: 7px 18px;
        font-size: 16px !important;
    }
    .about_img {
        margin-left: 38px;
        width: 92%;
    }
    /* ride */
    .black {
        width: 57%;
    }
    /* testimonial */
    .t_img img {
        width: 100px;
        height: 82px;
    }
 }

/* Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) { 
    /* banner */
    .br_single {
        margin-left: 95px ;
    }
    /* about */
    .cmn_h2 {
        font-size: 42px;
    }
    .about_p {
        font-size: 22px;
    }
    .about_left button {
        margin-top: 32px;
        padding: 8px 20px;
        font-size: 16px !important;
    }
    .about_img {
        margin-left: 38px;
        width: 92%;
    }
    /* survey */
    .wrapper h2{
        margin: 22px 0 20px;
        font-size: 42px;
    }
    .wrapper h3 {
        font-size: 27px;
    }
    /* ride */
    .black {
        width: 57%;
    }
    /* testimonial */
    .t_slider {
        margin-top: 23px;
    }
    .t_img img {
        width: 100px;
        height: 92px;
    }
    /* service */
    .view_btn button {
        font-size: 19px;
        padding: 14px 35px;
        border-radius: 30px;
    }
    .single_f {
        padding: 20px 36px 0;
        min-height: 258px;
    }
    .single_f h3 {
        font-size: 30px;
    }
    .f_p {
        font-size: 18px;
    }
    /* app */
    .app_w {
        margin: 0 auto;
        width: 75%;
    }
    /* support */
    .support_h3 {
        font-size: 21px;
    }
    /* footer */
    .f_h3 {
        padding: 5px 0;
        font-size: 25px;
    }
    .f_options ul li a , .footer_p {
        font-size: 18px;
    }
    .f_options button {
        padding: 7px 15px;
        font-size: 17px;
    }
 }